$CardTopGap : 12px;
$CardIconWidth : 50px;
$CardIconHeight : 50px;



.card-top {
  display: flex;
  gap: $CardTopGap;
}

.icon img {
  width: $CardIconWidth;
  height: $CardIconHeight;
  border-radius: 10px;
}