$HeaderBackgroundColor: rgb(31 37 53);
$HeaderPadding: 13px;
$HeaderBorderRadius: 20px;
$HeaderImageFilter: brightness(0) invert(1);


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: $HeaderBackgroundColor;
  padding: $HeaderPadding;
  border-radius: $HeaderBorderRadius;
  margin-top: -15px;
}

.header img {
  filter: $HeaderImageFilter;
}

.title {
  margin: 25px 0 15px;
  font-size: 20px;
}